/* Other rules */


.App {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;
}

header {
    max-width: 1440px;
    display: flex;
    height: 200px;
    padding: 50px 100px
}

header .fas {

    color: #5C48D3;
    padding-right: 50px
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
    max-width: auto;
    max-height: auto;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 300px;
    max-width: fit-content;
    margin: 0 auto
}

button {
    background-color: inherit;
    border: inherit
}

.reset-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: white;
    background-color: #5C48D3;
    font-size: 30px;
    margin-top: 60px;
    border-radius: 20px;
    padding: 10px 30px
}

.counter {
    width: 50%;
    height: 100%;
    color: white;
    background-color: #5C48D3;
    border-radius: 20%;
}

.counter span {
    display: flex;
    height: 150px;
    width: 150px;
    font-size: 96px;
    align-items: center;
    justify-content: center;


}


footer {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer span {
    font-weight: 700;
}